.FIO
{
    text-align: center;
    z-index: 999; 
    margin-top: -135px;
    color: white;
    font: italic 28px/1.5 "Georgia", serif; 
}

.background
{
    display:flex;   
}

.background img
{
    width: 100%;
    height: 210px;
    /* filter: brightness(.6); */
    display: flex;
    z-index: -999; 
    object-fit: cover;
}
.content
{
    margin-left: 75px;
    margin-right: 50px;
    /* width: auto; */
    /* height: auto; */

}
.first__foto img
{
    border-radius: 5000px; /* Радиус скругления */
    box-shadow: 0 0 7px #666;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.content__first
{
    float: left;
    height: 550px;
    

}
/* .content__second */
.secondTa/*&&&&&&&*/
{
    display: inline-block;
    width: 550px;
    height: 550px;
    margin: 200px 0 0 100px;
}
.title
{
    color: #b66262;
}

.list__link
{
    text-decoration: none;   
}
.title
{
    font: italic 28px/1.5 "Georgia", serif;
}

.clear
{
    clear: both;
}
