<!DOCTYPE html>
<html lang = "ru">
  <head>
    <title>Моя визитка</title>
    <meta charset = "UTF-8">
    <meta name="description" content="Сайт обо мне" />
    <link rel="stylesheet" href="{{asset('css/style.css') }}"/>
  </head>
  <body>
    <div class="background">
        <img src = " {{asset ( 'image/background.jpg' )}} "  alt="fon" />
    </div>
    <h1 class="FIO">Фадеева Татьяна Александровна</h1>
    <div class="content">
      <div class="content__first">
        <div class="first__foto">
          <img src="{{asset ( 'image/me1.jpg' )}} "  alt = "Моя фотография"/>
        </div>
        <div class="contacts">
          <p class="contacts__title title">КОНТАКТНАЯ ИНФОРМАЦИЯ</p>
          <ul>
            <li ><a class="list__link" href = "https://vk.com/bright.fire" target="_blank"> Страница ВКонтакте </a></li>
            <li><a class="list__link" href="mailto:tatianafadeevaalek@gmail.com">Электронная почта</a></li>
            <li>Телефон: 89278818007</li> 
          </ul>
        </div>
        <div class="local">
          <p class="local__title title">МOИ ЛЮБИМЫЕ МЕСТА В РМЭ</p>
          <ol>
            <li>Табашинское озеро</li>
            <li>Национальный парк "Марий Чодра" </li>
            <li>Сосновая роща</li> 
          </ol>
        </div>
      </div>
     
      
    <div class="content__second">
      <p class="title">
        Раздел о себе
      </p>
      <p>
        Привет! Меня зовут Фадеева Татьяна. Я живу и учусь в г.Йошкар-Ола. Меня всегда привлекала наша республика и город, в частности. Именно поэтому я решила, что хочу учиться именно здесь. До Волгатеха (а именно с 1 по 8 класс) я училась в МБОУ СОШ № 27, где меня научили, в первую очередь, стремиться к знаниям. Все предметы нам преподносили со страстным увлечением, что вдохновляло нас впитывать всё больше. Далее я поступила в Многопрофильный лицей-интернат, в котором я проучилась весь 9 класс. Там я училась в физмат классе в информационно-технологической подгруппе. Мы углубленно изучали профильные предметы , но не занимались программированием, именно поэтому после 9 класса я решила поступить в Высший колледж "Политехник" на специальность "Информационные системы и программирование". И совсем вскоре, я поступила на ФИиВТ. Я очень рада, что поступила именно в Волгатех, ведь я осталась в прекрасном городе,не потеряв связь со своими прежними знакомыми. При этом , обучаясь на интересной мне специальности)  
      </p>
      
      <p class="title">Раздел про хобби и увлечения вне учебы</p>
      <p>
        Помимо учёбы, я увлекаюсь чтением книг, особенно меня увлекает нон-фикшн формат. С 2016 года я занимаюсь волонтерской деятельностью, которая ,в том числе, предполагает организацию различных мероприятий. Также мне нравится вожатская деятельность, ведь благодаря ей любая работа в команде становится по плечу.
      </p>
    </div>
    </div>
  </body>
</html>  